<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <title>Lista Telefônica</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/ui.css">
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/i18n/angular-locale_pt.js"></script>
    <script src="lib/angular/angular-messages.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/listaTelefonicaCtrl.js"></script>
    <script src="js/services/contatosAPIServices.js"></script>
    <script src="js/services/operadorasAPIService.js"></script>
    <script src="js/services/serialGeneratorService.js"></script>
    <script src="js/value/configValue.js"></script>
    <script src="js/config/serialGeneratorConfig.js"></script>
    <script src="js/filters/nameFilter.js"></script>
    <script src="js/filters/limitNameFilter.js"></script>
    <script src="js/filters/limitNameFilter.js"></script>
    <script src="js/directives/uiDateDirective.js"></script>
</head>
<body ng-controller="listaTelefonicaCTRL">
    <div class="jumbotron">
        <h4 ng-bind="app"></h4>

        <div ui-alert title="Ops, aconteceu um problema!"></div>

        <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você deseja buscar?">
        <table ng-show="contatos.length > 0" class="table">
            <tr>
                <th></th>
                <th>Serial</th>
                <th><a href="" ng-click="ordenarPor('nome')">Nome</a> </th>
                <th><a href="" ng-click="ordenarPor('contato')">Telefone</a></th>
                <th><a href="" ng-click="ordenarPor('operadora.nome')">Operadora</a></th>
                <th>Data</th>
            </tr>
            <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos |filter:criterioDeBusca
                | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                <td><input type="checkbox" ng-model="contato.selecionado"></td>
                <td>{{contato.serial}}</td>
                <td>{{contato.nome | name | limitName:20}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome | lowercase}}</td>
                <td>{{contato.data | date:"dd/MM/yyyy HH:mm"}}</td>
            </tr>
        </table>
        <hr/>
        <!--É válido: {{contatoForm.$valid}}<br>
        É inválido: {{contatoForm.$invalid}}-->
        <form name="contatoForm">
        <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="nome" ng-required="true" minlength="10">
        <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="contato" ng-required="true"
               ng-pattern="/^\d{4,5}-\d{4}$/">
            {{contato.data}}
            <input class="form-control" type="text" ng-model="contato.data" name="data" placeholder="data" ui-date>

        <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome +'( ' + (operadora.preco|currency) + ' )' group by operadora.categoria for operadora in operadoras |orderBy:'nome'">
            <option value="">Selecione uma operadora</option>
        </select>
        </form>
        <div ng-messages="contatoForm.nome.$error" class="alert alert-danger">
        <div ng-message="required">
            Por favor, preencha o campo nome
        </div> <div ng-message="minlength">
            O campo deve ter no mínimo 10 caracteres
    </div>
        </div>
        <div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
            Por favor, preencha o campo telefone

        </div>
        <div ng-show="contatoForm.telefone.$error.pattern && contatoForm.telefone.$dirty" class="alert alert-danger">
            O formato do telefone deve ser DDDDD-DDDD

        </div>
        <button class="btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
        <button class="btn-danger btn-block" ng-click="removerContatos(contatos)" ng-show="isContatoSelecionado(contatos)">Remover Contato</button>

    </div>
        <div ng-include="'view/footer.html'"></div>

</body>
</html>